@charset 'UTF-8';

.gamepad-webdriver__header {
    text-align: center;
}

.gamepad-message {
    text-align: center;
}

.output-wrapper {
    margin-block-start: 32px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 32px;
}

[class^="output-gamepad"] {
    display: flex;
    flex-direction: column;
}

.pressed {
    background-color: grey;
}

